section#page.row { padding: 15px 0px; }
ul.breadcrumb {display:none;}
div.nav-secondary.span4 { display: none; width: 100%; clear: both; font-size: 1em; margin: 0; padding: 0; }
h1 {border-bottom: 1px dotted rgba(0,0,0,.2);}
